<div class="container">
  <div class="jumbotron">
    <h1 class="display-3">SUPERHERO</h1>
    <p class="lead"></p>
    <hr class="my-4" />
    <p>
      Un superhéroe es un personaje de ficción pues sus características superan
      las del héroe clásico, generalmente con poderes sobrehumanos aunque no
      necesariamente, y entroncado con la ciencia ficción. Generados a finales
      de los años 1930 en la industria del comic book estadounidense, que
      contribuyeron a levantar,​han gozado de multitud de adaptaciones a otros
      medios, especialmente el cine.
    </p>
    <p class="lead">
      <a [routerLink] = "['/universos']"  class="btn btn-primary btn-lg" href="#" role="button">Personajes</a>
    </p>
  </div>
</div>
